.navbar {
    margin-bottom: 0;
    border-radius: 0;
}
font-size:32;
.ct-label {
    font-size:.9rem;
}
/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
.row.content {height: 500px}

/* Set gray background color and 100% height */
.sidenav {
    padding-top: 20px;
    background-color: #f1f1f1;
    height: 100%;
}

/* Set black background color, white text and some padding */
footer {
    background-color: #555;
    color: white;
    padding: 15px;
}

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
    .sidenav {
        height: auto;
        padding: 15px;
    }
    .row.content {height:auto;} 
}
.icon-stack {
    display: inline-block;
    height: 2em;
    line-height: 2em;
    position: relative;
    vertical-align: -35%;
    width: 2em;
}
.icon-stack .icon-stack-base {
    font-size: 2em;
}
.icon-stack [class^="icon-"], .icon-stack [class*=" icon-"] {
    display: block;
    font-size: 1em;
    height: 100%;
    line-height: inherit;
    position: absolute;
    text-align: center;
    width: 100%;
}
.icon-stack .glyphicon{
    font-size: 2em;
}
.glyphicon-ban-circle
{
    color:red;
}
/*.container_bg {
    background-color: #2f2f2f; 
    color: #ffffff;
}
.bg{
    background-color: #2f2f2f;
}
.forminput label{
    color: #ffffff;
}
.forminput{
    color: #000000;
}
.col-centered{
    float: none;
    margin: 0 auto;
}
.darkcolor{
    color: #000000;
}*/
