{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
        {% block title %}CFLT Naming{% endblock %}
    </title>
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
    <link rel="stylesheet" href="{% static 'bootstrap/dist/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'home/base.css' %}">
    <link rel="stylesheet" href="{% static 'chartist/dist/chartist.min.css' %}">
    <script src="{% static 'jquery/dist/jquery.js' %}"></script>
    <script src="{% static 'bootstrap/dist/js/bootstrap.js' %}"></script>
    <script src="{% static 'chartist/dist/chartist.min.js' %}"></script>
    {% block head %}
    {% endblock %}
</head>
<body>
    {% block navbar %}
    {% endblock %}
    <div class="container-fluid container_bg">

        {% block page-header %}
        <div class="page-header">
            <div class='row'>
                <div class='hidden-xs col-sm-4'>
                    <img src={% static 'home/insigniastuff.png' %} height=90 width=87 class='img-responsive '>
                </div>
                <div class='col-sm-4'>
                    {% block page_title %}
                    <h1>CFLT Naming</h1>
                    {% endblock %}
                </div>
                <div class='hidden-xs col-sm-4'>
                    <img src={% static 'home/usairforce.png' %} height=105 width=100 class='img-responsive pull-right'>
                </div>
            </div>
        </div>
        {% endblock %}
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>

