{% extends 'base.html' %}
{% block navbar %}
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
            data-target="#CTFNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href={% url 'naming:naming' %}>Naming</a>
        </div>
        <div class="collapse navbar-collapse" id="CTFNavbar">
            <ul class="nav navbar-nav">
                {% block nav_contents %}
                <li class="active"><a href={% url 'home' %}>Home</a></li>
                <li><a href="#">Profile</a></li>
                <li><a href="{% url 'challenges:challenges' %}">Challenges</a></li>
                {% endblock %}
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href={% url 'logout' %}><span class="glyphicon glyphicon-log-out"</span>
                    Logout</a></li>
            </ul>
        </div>
    </div>
</nav>
{% endblock %}
