{% extends 'userpages/userpages-base.html' %}
{% block userpages-content %}
    <script type="text/javascript" >
        $(document).ready(function(){
            $("#id_username").attr('placeholder', '{{form.username.label}}');
            $("#id_password").attr('placeholder', '{{form.password.label}}');
        });
    </script>
    <legend>Please Sign In</legend>
    {% if form.errors %}
            <div class="alert alert-danger">
                Your username and password didn't match. Please try again.
            </div>
    {% endif %}
    <form role="form" action="{% url 'django.contrib.auth.views.login' %}"
        method="post" class ="forminput">
        {% csrf_token %}
        <div class="input-group input-group-sm">
            <span class="glyphicon glyphicon-user input-group-addon"></span>
            {{ form.username }}
        </div>
        <div class="input-group input-group-sm">
            <span class="glyphicon glyphicon-lock input-group-addon"></span>
            {{ form.password }}
        </div>
        <div class="input-group input-group-sm">
        </div>
            <button type="submit" name="submit" class="btn btn-default">Sign in</button>
    </form>
    <a href={% url 'userpages:register' %}>Register<a>
{% endblock %}
