{% extends 'userpages/userpages-base.html' %}
{% block userpages-content %}
    <legend>Thank you for playing, Please come again!</legend>
    <a href={% url 'login' %} class="btn btn-default btn-block" role="button">Login</a>
{% endblock %}
