{% extends 'userpages/userpages-base.html' %}
{% block userpages-content %}
    <script type="text/javascript" >
        $(document).ready(function(){
            $("#id_username").attr('placeholder', '{{form.username.label}}');
            $("#id_email").attr('placeholder', '{{form.email.label}}');
            $("#id_password1").attr('placeholder', '{{form.password1.label}}');
            $("#id_password2").attr('placeholder', '{{form.password2.label}}');
        });
    </script>

    <legend>Please Enter Your Information</legend>
    <form role="form" userpages_urlsaction="Login" method="post" class ="forminput">
        {% csrf_token %}
        <div class="input-group input-group-sm">
            <span class="glyphicon glyphicon-user input-group-addon"></span>
            {{ form.username }}
        </div>
        <div class="input-group input-group-sm">
            <span class="glyphicon glyphicon-envelope input-group-addon"></span>
            {{ form.email }}
        </div>

        <div class="input-group input-group-sm">
            <span class="glyphicon glyphicon-lock input-group-addon"></span>
            {{ form.password1 }}
            {{ form.password2 }}
        </div>
        <div class="input-group input-group-sm">
        </div>
            <button type="submit" name="submit" class="btn btn-default btn-block">Sign in</button>
    </form>
{% endblock %}
