{% extends 'base.html' %}
{% block content %}
<div class="row">
    <div class="well col-sm-4 col-sm-offset-4">
        {% block userpages-content %}
        {% endblock %}
    </div>
</div>
{% endblock %}
