{% extends 'base.html' %}
{% block navbar %}
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        {% comment %}
        <div class="navbar-header">
            <a class="navbar-brand" href="#">WebSiteName</a>
        </div>
        {% endcomment %}
        <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#">Profile</a></li>
            <li><a href="{% url 'challenges' %}">Challenges</a></li>
            <li><a href="logout">Logout</a></li>
        </ul>
    </div>
</nav>
{% endblock %}
