{% extends 'base-navbar.html' %}
{% block title %}
Naming
{% endblock %}
{% block page_title %}
<h1>VIPER Naming</h1>
{% endblock %}
{% block nav_contents %}
    {% for namee in namees %} 
    <li><a href={% url 'naming:vote' namee.id %}>{{ namee }}</a></li>
    {% endfor %}
{% endblock %}
