{% extends 'naming/base_naming.html' %}
{% block page_title %}
<h1> VIPER Naming </h1>
{% endblock %}
{% block title %}
Naming
{% endblock %}

{% block head %}
    <meta http-equiv="refresh" content="5">
{% endblock %}
{% block content %}
<div class="container-fluid">
{% if enabled_name %}
<h1> Currently Naming {{ enabled_name }} </h1>
{% include 'naming/progress_bar.html' %}
<div class="ct-chart"></div>
<script>
    var data = {
        labels: [{% for nick,votes in nick_votes %}'{{nick.nick}}',{% endfor %}],
        series: [
            [{% for nick, votes in nick_votes %}'{{votes}}',{%endfor%}]
                ]
    };
    var options = {
        onlyInteger: true,
    };
    new Chartist.Bar('.ct-chart', data, options);
    document.getElementById("ct-label").style.fontSize="xx-large";
</script>
{% else %}
<div class='well'>
    <h2> Welcome to the naming ceremony! </h2>
    <h3> Please connect your wireless device to the bellow SSID, and register with
        this web page to assist in tonights naming.</h3>
    <h3><strong>SSID: </strong>Tiger_Wireless</h3>
    <h3><strong>WPA-Passphrase: </strong>7iger_wireless_p@ss</h3>
    <h3><strong>WebPage IP: </strong>192.168.0.2</h3>
    <h3> No voting at the moment! </h3>
</div>
{% endif %}
{% if set_nicks %} 
<div class='well'>
    <h2> Named Pwnies: </h2>
    <ul class="list-group">
    {% for nick in set_nicks %}
        {% if nick %}
            <li class="list-group-item">
            <span class="label label-default label-pill pull-right">{{nick.vote_count}}</span>
            {{nick}}
            </li>
        {% endif %}
    {% endfor %}
    </ul>
</div>
{% endif %}
</div>
{% endblock %}
