{% if perc_complete %}
<div class="progress">
    <div class="progress-bar" role="progressbar" aria-valuenow="{{perc_complete}}" aria-valuemin="0" aria-valuemax="100" style="width:{{perc_complete}}%">
        {{ perc_complete }}%
    </div>
</div>
{% endif %}

