{% extends 'naming/base_naming.html' %}
{% block title %}
    Naming Votes
{% endblock %}
{% block page_title %}
<h1>{{ namee }}</h1>
<div class='btn-group'>
    <button type='button' class='btn btn-success disabled'>1st</button>
    <button type='button' class='btn btn-warning disabled'>2nd-4th</button>
    <button type='button' class='btn btn-danger disabled'>> 4th</button>
</div>
{% endblock %}
{% block content %}
<div class="container-fluid ">
    {% if namee.enabled %}
    {% include 'naming/progress_bar.html' %}
    <form action="{% url 'naming:vote' namee.id %}" method="POST">
    {% csrf_token %}
        <div class='btn-group-vertical'>
            <button name='vote' type='submit' class='btn btn-success btn-block btn-lg' value="{{ nick_1.0.id }}">
                <span class="label label-info label-pill pull-right">{{nick_1.1}}</span>
                {{ nick_1.0.nick }} &nbsp 
            </button>
            {% for nick, score in nick_2 %}
            <button name='vote' type='submit' class='btn btn-warning btn-block btn-lg' value="{{ nick.id }}">
                <span class="label label-info label-pill pull-right">{{score}}</span>
                {{ nick.nick }} &nbsp 
            </button>
            {% endfor %}
            {% for nick, score in nick_3 %}
            <button name='vote' type='submit' class='btn btn-danger btn-block btn-lg' value="{{ nick.id }}">
                <span class="label label-info label-pill pull-right">{{score}}</span>
                {{ nick.nick }} &nbsp
            </button>
            {% endfor %}
        </div>
    </form>
    {% else %}
    <div class="well">
        {% if nick_1.1 %}
        <h1>{{ nick_1.0.namee }} will hence forth be known as <strong>{{ nick_1.0.nick }}</strong>!</h1>
        {% else %}
            <h1>Root has not yet allowed voting on this member!</h1>
        {% endif %}
    </div>
    {% endif %}
</div>
{% endblock %}
