{% extends 'challenges/challenges-base.html' %}
{% block challenge_content %}
<div class="well">
<h2> Challenge: {{ challenge.number }} </h2>
<p><strong>Description:</strong> {{challenge.description}}</p>
<p><strong>Points:</strong> {{challenge.points}}</p>
{% if challenge.challengefiles_set.values %}
    <div class="well">
        <p><strong>Files:</strong></p>
    {% for value in challenge.challengefiles_set.values %}
    <a href="#">{{ value.fi }}</a>
    {% endfor %}
    </div>
{% endif %}
{% if c_complete %}
        <div class="alert alert-success">
            {{ c_complete }}
        </div>
{% else %}
{% if form.errors %}
        <div class="alert alert-danger">
            {% for field in form.visible_fields %}
            {{ field.errors }}
            {% endfor %}
        </div>
{% endif %}
    <form action={% url 'challenges:challenge' challenge.number %} method="post">
        {% csrf_token %}
        <div class="input-group input-group-sm">
            <span class="glyphicon glyphicon-triangle-right input-group-addon"></span>
            {{ form.answer }}
            <input type="submit" value="Submit"/>
        </div>
    </form>
{% endif %}
</div>
{% endblock %}
