{% extends 'base-navbar.html' %}
{% block content %}
<div class="container-fluid text-center">
    <div class="row content">
        <div class="col-sm-1 sidenav">
        {% for chal, solved in challist %}
            {% if solved %}
            <p><a href="{% url 'challenges:challenge' chal.number %}" class="btn btn-success" role="button">
            <span class="icon-stack">
                    <i class="glyphicon glyphicon-flag icon-stack-base"></i>
                    <i class="glyphicon glyphicon-flag"></i>
                </span> {{ chal.number }}
            </a><p>

            {% else %}
            <p><a href="{% url 'challenges:challenge' chal.number %}" class="btn btn-danger" role="button">
                <span class="icon-stack">
                    <i class="glyphicon glyphicon-flag icon-stack-base"></i>
                    <i class="glyphicon glyphicon-ban-circle"></i>
                </span> {{ chal.number }}
            </a><p>
            {% endif %}
        {% endfor %}
        </div>
        <div class="col-sm-9 text-left">
            {% block challenge_content %}
            <h1>Rules</h1>
            <p>These are the rules!</p>
            {% endblock %}
        </div>
        <div class="col-sm-2 sidenave">
            <div class="well">
                <p>Badges</p>
            </div>
            <div class="well">
                <p>Badges</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
